.content-companies {
  display: none;
  @media screen and (min-width: 768px) {
    display: unset;
  }
}

.title-brand, .title-services, .title-price {
  ///*градиент заголовка*/
  //margin-top: 20px;
  width: 100%;
  height: 56px;
  border-radius: 0;
  //margin-bottom: 10px;
  background: linear-gradient(270deg, $shadow 0%, $bgColor 98.61%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  display: flex;
  flex-direction: row;
  border-top: 1px solid $borderBrands;
  justify-content: right;
}

.button-logo {
  height: 72px;
  width: 240px;
  //margin: 0 8px;//8px 12px;//
  border-radius: 6px;
  background: $bgColor;
  border: 1px solid $colorDiver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img {
  /*центрирование по вертикали*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 16px 0 16px;
}

.wrapper-brands {
  height: 124px;
  padding-top: 16px;
  margin-bottom: 10px;
}

.wrapper-brands::before { /*тень*/
  height: 72px;
  width: 100%;
}

.swiper-pagination {
  right: 50%;
  transform: translateX(50%);
  margin-top: 8px;
}

.wrapper {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.list-logo {
  overflow: hidden;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  margin: 24px 16px 16px;
}

.show-more, .show-less {
  margin-left: 27px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 600;
  text-align: left;

  @media screen and (min-width: 768px) {
    margin-left: 26px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 32px;
  }
}

.show-less__icon {
  rotate: 180deg;
}

.show-more__icon, .show-less__icon {
  margin-right: 7px;
}

.show-less {
  display: none;
}
