.feedback, .callback {
  z-index: 2000;
  position: fixed;
  right: 0;
  width: 320px;
  height: 100%;
  background: $bgColor;
  display: none;
  //анимация
  animation: move 0.5s linear;
  transform: translateX(-320px, 320px);
  @keyframes move {
    0% {
      right: -320px;
    }
    100% {
      right: 0;
    }
  }

  @media screen and (min-width: 720px) {
    width: 440px;
    right: 0;
    animation: movePC 0.5s linear;
    transform: translateX(-440px, 440px);
    @keyframes movePC {
      0% {
        right: -440px;
      }
      100% {
        right: 0;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}

.close-feedback, .close-callback {
  margin: 24px 0 0 16px;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  z-index: 10000;
  @media screen and (min-width: 720px) {
    position: absolute;
    right: 473px;
  }
}

.feedback .feedback_title, .callback .callback_title {
  height: 32px; //40
  margin: 32px 0 24px 0;
  padding-left: 12px;
  border-left: 3px solid $borderDriver;
  font-family: "TT Lakes-Bold";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;

  @media screen and (min-width: 720px) {
    display: block;
    margin: 28px 0 24px 0;
    padding-left: 30px;
    height: 32px;
  }
}

.feedback input, .callback input {
  width: 288px;
  height: 48px;
  margin: 8px 16px;
  padding: 16px 12px;

  border-radius: 8px;
  background: $bgColor;
  border: 1px solid $colorDiver;

  @media screen and (min-width: 720px) {
    width: 376px;
    margin: 24px 32px 0 32px;
  }
}

.warning-info {
  color: $warnigText;
  font-weight: 500;
  width: 288px;
  margin: 16px 16px 18px 16px;
  font-size: 14px;
  line-height: 16px;
  @media screen and (min-width: 720px) {
    width: 376px;
    margin: 16px 32px 16px 32px;
  }

  &__a {
    color: $pink;
  }
}

.feedback .feedback__message-user {
  padding: 22px 183px 82px 16px;
  @media screen and (min-width: 720px) {
    padding-right: 271px;
    width: 376px;
  }
}

.send-message, .order-callback {
  margin-left: 168px;
  height: 32px;
  width: 136px;
  background: $pink;
  border-radius: 16px;
  @media screen and (min-width: 720px) {
    margin-left: 271px;
  }
}
