.footer-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: $borderDriver 1px solid;
  //height: 147px;
  margin-top: 40px;
  padding: 16px 0 0 19px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    height: 105px;
    margin-top: 47px;
    padding: 32px 24px 24px 25px;
  }
  @media screen and (max-width: 1440px) {
    height: 85px;
    //margin-top: 50px;
    //margin-bottom: 21px;
    padding: 32px 33px 31px 19px;
  }
}

.teem-apesong, .privacy-policy, .public-offer {
  color: $textNav;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
  }
}

.teem-apesong {
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.privacy-policy {
  @media screen and (min-width: 768px) {
    height: 16px;
    width: 214px;
  }
}

.public-offer {
  width: 312px;
  margin: auto;
  @media screen and (min-width: 768px) and (max-width: 1440px) {
    margin: 0;
    text-align: right;
    width: 213px;
  }
  @media screen and (min-width: 1440px) {
    margin: 0;
    width: 330px;
    text-align: right;
  }
}
