.full-menu {
  z-index: 200;
  position: fixed;
  left: 0;
  width: 320px;
  height: 100%;
  background: $bgColor;
  display: none;
  //анимация
  animation: moveMenuPC 0.5s linear;
  transform: translateX(-320px, 320px);
  @keyframes moveMenuPC {
    0% {
      left: -320px;
    }
    100% {
      left: 0;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 767px) {
    width: 360px;
    //анимация
    animation: moveMenuPC 0.5s linear;
    transform: translateX(-360px, 360px);
    @keyframes moveMenuPC {
      0% {
        left: -360px;
      }
      100% {
        left: 0;
      }
    }
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    animation: none;
    position: relative;
    top: 0;
    width: 320px;
    height: 1900px;
    background: $bgColor;
  }
}

.head-menu {
  width: 320px;
  background: $bgColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (min-width: 1440px) {
    position: fixed;
    top: 22px;
  }

  .left-menu {
    .menu-icon {
      .close-full-menu {
        margin-left: 8px;
        padding: 0 10px 0 0;
        @media screen and (min-width: 1440px) {
          /*скрыть кнопку "убрать меню"*/
          display: none;
        }
      }
    }

    .icon-menu {
      padding: 0 10px 0 0;
      border-right: 2px solid $colorDiver;
    }

    .logo {
      @media screen and (min-width: 1440px) {
        margin-left: 22px;
        margin-top: 30px;
      }
    }
  }

  .right-menu {
    margin: 8px;
    @media screen and (min-width: 1440px) {
      margin-top: 35px;
      margin-right: 29px;
    }

    li {
      padding: 0;

      .search {
        height: 40px;
      }
    }
  }
}

.middle-menu {
  .list-menu {
    @media screen and (min-width: 1440px) {
      margin-top: 10px;
      position: fixed;
      top: 118px;
    }

    &__item {
      margin: 12px 0;
      padding: 0;
      @media screen and (max-height: 600px) {
        height: 20px;
      }

      .button {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: left;
        padding-left: 17px;
        margin: 0 0 10px 0;
        height: 24px;
      }

      button:hover {
        /*стили для списка меню*/
        transition-duration: 0.5s;
        border-left: 3px $borderDriver solid;
        color: $colorTextFullMenu;
        font-size: 40px;
        height: 32px;
      }

      span {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
      }

      .active-button {
        color: $colorTextFullMenu;
        border-left: $borderDriver solid 3px;
        font-size: 40px;
        height: 32px;
        @media screen and (max-height: 600px) {
          height: 25px;
        }
      }
    }

    &__item:hover {
      button {
        @media screen and (max-height: 800px) {
          /*стили для списка меню*/
          transition-duration: 0.5s;
          border-left: 3px $borderDriver solid;
          color: $colorTextFullMenu;
          font-size: 40px;
          height: 40px;
        }

        button {
          @media screen and (max-height: 600px) {
            font-size: 20px;
            height: 25px;
          }
        }
      }
    }
  }
}

.bottom-menu {
  position: fixed;
  bottom: 0px;
  margin-top: auto;
  width: auto;
  @media screen and (min-width: 1440px) {
    margin-top: 10px;
    position: fixed;
    top: 650px;
  }

  .additional-menu {
    .additional-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 16px 24px;
      width: 152px;
      @media screen and (max-height: 600px) {
        height: 45px;
      }

      li {
        padding: 0;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }

    &__mail {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
    }

    &__phone-number {
      font-family: "TT Lakes-Bold";
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
    }
  }

  .lang {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 24px;
    width: 86px;

    span:hover {
      /*стили для выбора языка*/
      transition-duration: 1s;
      opacity: 0.5;
    }

    .active-lang {
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: $colorTextFullMenu;
    }
  }

  button {
    margin: 0;
    padding: 0;
  }
}
